
.full-width {
  width: 100%;
  
}

.row {
  display: flex;
  flex-direction: row;
}
.red-snackbar{
  position:left;
  top: 54px;
}
.col {
  flex: 1;
  margin-right: 10px;
}

.col:last-child {
  margin-right: 0;
}

@media (max-width: 1100px) {
  .row {
    flex-direction: column;
    display: flex;
  }

  .col {
    flex: 1;
    margin-right: 0;
    margin-bottom: 0px;
  }

  .col:last-child {
    margin-bottom: 0;
  }
}


.sodetailsheader {
  justify-content: center;
  padding: 10px;
}

.actions-cell {
  display: flex;
  justify-content: center;
  align-items: center;

}

.actions-container {
  justify-content: center;
  text-align: center;
  display: flex;
  gap: 10px;
}

.solistbody {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 4%;
}
#gapcandidate{
  padding-left:10px ;
}
.aa{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 1px;
   box-shadow: inset 10px 0 5px -5px gainsboro, inset -10px 0 5px -5px gainsboro, inset 0 10px 5px -5px gainsboro, inset 0 -10px 5px -5px gainsboro;
   
 }
 .bb{
   padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 1px;
   box-shadow: inset 10px 0 5px -5px gainsboro, inset -10px 0 5px -5px gainsboro, inset 0 10px 5px -5px gainsboro, inset 0 -10px 5px -5px gainsboro;
   
 }
 h2{
  font-weight:700px ;
 }
 .columns{

  width:150px
 }
 