<div class="container-fluid">
    <mat-card id="mcd">
      <form [formGroup]="passwordForm">
        <div class="form-group rownew">
          <h3 class="headernew mt-4" style="text-align:center">Change Password</h3>
        </div>
  
        <!-- Display EmailId and Old Password fields only for first login -->
        <div class="form-group row" *ngIf="!IsForgotPassword">
          <mat-form-field appearance="outline" class="col-sm-10">
            <mat-label>EmailId</mat-label>
            <input matInput type="text" id="emailId" placeholder="Enter EmailId" formControlName="emailId"
              [(ngModel)]="emailId" required readonly>
            <mat-error *ngIf="passwordForm.controls.emailId?.hasError('required')">*EmailId is required.</mat-error>
          </mat-form-field>
        </div>
  
        <div class="form-group row" *ngIf="!IsForgotPassword">
          <mat-form-field appearance="outline" class="col-sm-10">
            <mat-label>Old Password</mat-label>
            <input matInput type="password" id="oldPw" name="oldPw" formControlName="oldPw"
              placeholder="Enter Old Password" required>
            <mat-error *ngIf="passwordForm.controls.oldPw?.hasError('required')">*Old Password is required.</mat-error>
            <mat-error
              *ngIf="(oldPasswordIsWrongCounts.length >= 1 && updatedSuccessfullyCounts.length < 1) || (oldPasswordIsWrongCounts.length > 0 && updatedSuccessfullyCounts.length >= 1)">
              {{oldPasswordIsWrong}}</mat-error>
          </mat-form-field>
        </div>
  
        <!-- Display New Password and Confirm Password fields for both first login and forgot password -->
        <div class="form-group row">
          <mat-form-field appearance="outline" class="col-sm-10">
            <mat-label>New Password</mat-label>
            <input matInput type="password" id="newPw" name="newPw" formControlName="newPw" placeholder="Enter New Password"
              required #newPwInput>
            <mat-error *ngIf="passwordForm.controls.newPw?.hasError('required')">*New Password is required.</mat-error>
            <mat-error
              *ngIf="passwordForm.controls.newPw?.hasError('pattern')">* Pattern Does Not Match as Capital Letters,Small Letters, Special Characters,Number having minlength(6)...</mat-error>
            <mat-error *ngIf="!oldPasswordMatchWithNew">{{oldPasswordMatchWithNewError}}</mat-error>
          </mat-form-field>
        </div>
  
        <div class="form-group row">
          <mat-form-field id="cp" appearance="outline" class="col-sm-10">
            <mat-label>Confirm Password</mat-label>
            <input matInput type="password" id="confirmPw" name="confirmPw" formControlName="confirmPw"
              placeholder="Enter Confirm Password" required #confirmPwInput>
            <mat-error *ngIf="passwordForm.controls.confirmPw?.hasError('required')">*Confirm Password is required.</mat-error>
            <mat-error *ngIf="!passwordsMatch">{{passwordMatchError}}</mat-error>
          </mat-form-field><br><br>
        </div>
  
        <div class="form-group row">
          
          <div class="col-sm-10">
            <button *ngIf="authservice.loggedIn()" type="submit" id="changePwd" mat-raised-button color="primary" (click)="onSubmit()">Change Password</button>
            <button *ngIf="IsForgotPassword" type="submit" id="changePwd" mat-raised-button color="primary" (click)="OnSubmitForForgot()">Change Password</button>
          </div>
        </div>
      </form>
    </mat-card>
  </div>
  
